body {
  padding: 10px;
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h3 {
  margin: 5px;
}

*[data-role="button"] {
  min-width:0px;
  width: 70px;
  padding-right: 5px;
  padding-left: 5px;
}
